{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="form-card col-xs-12 col-md-12 d-flex flex-column align-items-center justify-content-center">
        <div class="card shadow reg-card">
            <div class="card-body">
                <h5 class="card-title py-2">Register</h5>
                <form action="/register" method="POST">
                    <div class="mb-3">
                        <input class="form-control" type="email" id="email" name="email" placeholder="Email"
                            required autofocus>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="text" id="username" name="username" placeholder="Username"
                            required>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="password" id="password"
                            name="password" placeholder="Password" required>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="password" id="password"
                            name="password" placeholder="Confirm Password" required>
                    </div>
                    <div class="d-grid gap-2 align-items-center justify-content-center">
                        <button class="btn form-button">Register</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<footer class="footer mx-2">By signing up, you consent to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></footer>
{% endblock %}